h1 {
        font-family: arial;
        color: #FCFBFC;
        font-size: 40px;
        border: solid;
        background: #8B8782;
        text-align: center;
        text-shadow: 3px 2px #696964;
    }